<h2>Messages</h2>
<div id="messages">
<%= render @messages %>
</div>
<p><%= link_to 'New Message', new_message_path, id: "new-message", remote: true %> -or-  <%= link_to 'See Contacts', contacts_path %></p>
